*{
	margin: 0;
	padding: 0;
}
body{
	background: #EAEAEA;
}

.head{
	background: #4C4C4C;
	height: 60px;
	padding-right: 80px;
}
.head h1{
	height: 60px;
	line-height: 60px;
	padding-left: 40px;
	color: #fff;
	font-size: 30px;
	font-weight: normal;
	display: inline-block;
}
.head a{
	text-decoration: none;
	color: #ccc;
	margin-right: 50px;
	float: right;
	line-height: 60px;
}
.head a:hover{
	color: #fff;
}
.container{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	background: #fff;
	box-shadow: 0 0 15px #ccc inset;
	/*height: 500px;*/

}

.container .box{
	border-radius: 5px;
	float: left;
	padding: 10px;
}
.container .box:hover{
	transform: scale(1.05);
}
.container .box:hover .content{
	box-shadow: 0 0 15px #ccc;
}
.container .box .content{
	width: 256px;
	border: 2px solid #ccc;
	box-shadow: 0 0 5px #ccc ins;
	padding: 10px;
}

.container .content a{
	text-decoration: none;
}
.container .content a h3{
	color: #F38094;
}
.container .content a img{
	width: 256px; 
	
}
.container .content .description{
	margin-top: 5px;
	font-size: 15px;
	font-family: '微软雅黑';
}
.container .content .description a{
	color: #F393BF;
}
.container .content p{
	text-indent: 2em;
}