*{
	margin: 0;
	padding: 0;
}
body{
	background: #EAEAEA;
}

.head{
	background: #4C4C4C;
	background: #222;
	height: 60px;
	padding-right: 80px;
}
.head h1{
	height: 60px;
	line-height: 60px;
	padding-left: 40px;
	color: #9d9d9d;
	font-size: 30px;
	font-weight: normal;
	display: inline-block;
}
.head a{
	text-decoration: none;
	color: #ccc;
	margin-right: 50px;
	float: right;
	line-height: 60px;
}
.head a:hover{
	color: #fff;
}
.container{
	position: relative;
	width: 1200px;
	margin: 0 auto;
	margin-top: 20px;
	background: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	background-color: #f8f8fd;
}

.container .box{
	border-radius: 5px;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
}
.container .box:hover{
	transform: scale(1.0);
	transition: 0.5s ease;
}
.container .box:hover .content{
	box-shadow: 0 2px 30px -1px rgba(0, 0, 0, 0.6), inset 0 0 87px 0 rgba(184, 184, 184, 0.13);
	transition: 0.5s ease;
}
.container .box .content{
	width: 256px;
	padding: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.container .content a{
	text-decoration: none;
}
.container .content a h3{
	color: #4d6dad;
}
.container .content a img{
	width: 256px; 
	
}
.container .content .description{
	margin-top: 5px;
	font-size: 14px;
	font-family: '微软雅黑';
}
.container .content .description a{
	color: #4d6dad;
}
.container .content p{
	text-indent: 2em;
}